/*----- CSS DE EXEMPLOS: Rafael Garcia ----- */

.tipografia-ruim{
  font-family: Impact;
  font-size: 0.8em;
  line-height: 0.8;
}

.tipografia-bom{
  font-family: Arial, sans-serif;
  font-size: 1.25em;
  line-height: 1.25;
}

.box-exemplo-claro {
  padding: 0.75rem;
  background-color: #f4f4f4;
  border: solid 1px #dddddd;
  margin-bottom: 1em;
}

.box-exemplo-escuro {
  padding: 0.75rem;
  background-color: #030303;
  border: solid 1px #dddddd;
  margin-bottom: 1em;
}

.tipografia-bom-branco{
  font-family: Arial, sans-serif;
  font-size: 1.25em;
  line-height: 1.25;
  color: #ffffff;
}